.svn
.cvs
*.bak
*.swp
Thumbs.db
.vscode

# wordpress specific
/wp/
/vendor/
/wp-content/uploads
/wp-content/plugins
/wp-content/mu-plugins
/wp-content/themes/**/dist
/node_modules/

.htaccess
.DS_Store
wp-config.php
npm-debug.log

/*.sql
/database/*.sql
!/database/setup.sql
