.woocommerce-block {
  padding: 5em 6em 5em;
  @media screen and (max-width: 1024px) {
    padding: 3em 1em 3em;
  }

  @include breakpoint-max("sm") {
    padding: 10px;
  }

  .inner {
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 100%;

      @media screen and (max-width: 1024px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .woocommerce-fields {
        .title {
          margin-bottom: 20px;

          h2 {
            display: flex;
            font-family: $primaryFont;
            font-size: 59px;
            color: $black;
            letter-spacing: -2.95px;
            margin-top: 0;

            @media screen and (max-width: 1024px) {
              text-align: center;
              display: block;
            }

            @include breakpoint-max("lg") {
              justify-content: center;
              font-size: 35px;
            }
          }
        }

        .subtitle {
          font-family: $IBMPlexSans-Text;
          font-size: 20px;
          color: $black;
          line-height: 1.9;
          margin-bottom: 40px;

          @media screen and (max-width: 1024px) {
            text-align: center;
          }

          @include breakpoint-max("lg") {
            text-align: center;
          }

          p {
            display: flex;

            @media screen and (max-width: 1024px) {
              display: block;
              text-align: center;
            }

            @include breakpoint-max("lg") {
              justify-content: center;
              flex-wrap: wrap;

              &::after {
                content: none;
              }
            }

            &::after {
              content: "";
              flex-basis: 40%;
              height: 0;

              @include breakpoint-max("sm") {
                display: none;
              }
            }
          }
        }

        .button {
          font-family: $IBM-Plex-Sans-SemiBold;
          color: $primary;
          font-size: 16px;
          margin-top: 20px;

          &:hover {
            text-decoration: underline;
          }

          @media screen and (max-width: 1024px) {
            text-align: center;
            margin-bottom: 30px;
          }

          @include breakpoint-max("lg") {
            text-align: center;
          }

         
        }
      }
    }

    .woocommerce ul.products li.product a img {
      width: unset;
      max-width: unset;
      display: block;
      margin: 0 0 1em;
      box-shadow: none;
    }

    .woocommerce ul.products li.product a img {
      width: 396px;
      height: auto;
      display: block;
      margin: 0 0 1em;
      box-shadow: none;

      @include breakpoint-max("sm") {
        max-width: 100%;
        height: auto;
      }
    }

    .woocommerce ul.products {
      margin: 0 0 1em;
      padding: 0;
      list-style: none outside;
      clear: both;
      display: flex;

      @media screen and (max-width: 1024px) {
        justify-content: center;
        margin: 0;
        gap: 30px;
        flex-direction: column;
      }

      @include breakpoint-max("sm") {
        gap: 0;
      }
    }

    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
      float: left;
      margin: 0 3.8% 2.992em 0;
      padding: 0;
      position: relative;
      width: unset;
      margin-left: 0;

      @media screen and (max-width: 1024px) {
        justify-content: center;
        margin: 0;
      }

      @include breakpoint-max("sm") {
        margin: 0;
      }
    }

    .woocommerce-block .woocommerce ul.products li.product {
      position: relative;
      text-align: center;
    }

    .woocommerce ul.products li.product .woocommerce-loop-product__title {
      position: absolute;
      bottom: 70px;
      left: 16px;
      font-size: 20px;

      @include breakpoint-max("sm") {
        bottom: 80px;
      }
    }

    .woocommerce-loop-product__title {
      color: $white;
      font-family: $IBMPlexSans-Medium;
    }

    .woocommerce ul.products li.product .price {
      position: absolute;
      bottom: 50px;
      left: 16px;
      font-size: 16px;

      @include breakpoint-max("sm") {
        bottom: 60px;
      }
    }

    .price {
      color: $white;
      font-family: $IBM-Plex-Sans-SemiBold;
    }

    .woocommerce ul.products li.product .button {
      position: absolute;
      bottom: 65px;
      right: 0;
      background: $primary;
      margin-right: 20px;
      font-family: $IBM-Plex-Sans-SemiBold;
      font-size: 14px;
      color: $black;
      border-radius: 0;
      border: none;
      transform: skewX(-20deg); 

       &:hover {
            background-color: $hover;
            color: #000;
          }

      @include breakpoint-max("sm") {
        bottom: 30px;
        left: 15px;
        right: unset;
        margin-right: 0;
        margin-top: 20px;
      }
    }
    .woocommerce a.added_to_cart {
      display: none;
    }
  }
}
