.boxes {
  .box-container {
    padding: 5em 12em 5em;
    display: flex;
    justify-content: center;

    @include breakpoint-min("lg") {
      padding: 3em 1em 3em;
    }

    @include breakpoint-max("lg") {
      padding: 3em 1em 3em;
    }

    @include breakpoint-max("sm") {
      padding: 10px;
    }

    .inner {
      .wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 20px;

        @include breakpoint-max("sm") {
          flex-direction: column;
        }
      }

      .section-title {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;

        h1 {
          color: $black;
          font-family: $primaryFont;
          font-size: 59px;
          letter-spacing: -2.95px;
          opacity: 1;
        }
      }

      .box {
        flex: 0 0 calc(28.33% - 10px);
        padding: 20px;
        border: 1px solid #97979733;;
        background: $white;
        border-radius: 1px;
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;
        width: 416px;
        height: 528px;
        @include breakpoint-max("lg") {
          width: 100%;
          height: auto;
        }

        &:hover {
          box-shadow: 0px 0px 50px #00000033;
          transform: scale(1.05);
        }

        h2 {
          padding: 0 0 10px 0;
          font-size: 26px;
          margin-bottom: 40px;
          text-transform: uppercase;
          color: $black;
          font-family: $IBM-Plex-Sans-SemiBold;
          letter-spacing: 0px;
          opacity: 1;
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            font-family: $BMPlexSans-Regular;
            font-size: 20px;

            i {
              color: $primary;
            }

            i.icofont-check-alt.change-color {
              color: #FF7B00;
            }

            i.icofont-check-alt.change-color-again {
              color: #B61200;
            }
          }
        }

        .box-footer {
          margin-top: auto;
          text-align: center;
          padding: 25px 0 25px 0;

          .button-cta {
            display: inline-block;
            padding: 10px 20px;
            color: $black;
            text-decoration: none;
            text-align: center;
            background-color: $primary;
            font-family: $BMPlexSans-Bold;
            font-size: 16px;
            letter-spacing: 0px;
            opacity: 1;
            position: relative; 
            transform: skewX(-20deg); 

            &:hover {
            background-color: $hover;
            color: #000;
            }
          }
        }
      }
    }
  }
}
