.slideshow-container {
    position: relative;
    width: 100%;

    .slide {
        display: flex;
        width: 100%;
        height: 700px;
        padding: 30px;
        background-size: cover;
        background-position: center;
        background-image: no-repeat;

        @include breakpoint-max("sm") {
            padding: 10px;
        }

        .slide-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .slide-title {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 5px 0 5px;
                margin: 0;

                h2 {
                    font-family: $primaryFont;
                    text-align: center;
                    margin: 0;
                    font-size: 59px;
                    color: $white;

                    @include breakpoint-max("sm") {
                        margin-top: 0;
                        font-size: 30px;
                    }
                }

            }

            .slide-subtitle {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                margin: 0;

                p {
                    text-align: center;
                    padding: 0 10px 100px 10px;
                    margin-bottom: 100px;
                    font-size: 20px;
                    color: $white;
                    font-family: $IBMPlexSans-Medium;


                    @include breakpoint-max("sm") {
                        font-size: 16px;
                    }
                }

                &::before,
                &::after {
                    content: "";
                    flex-basis: 40%;
                    height: 0;
                }

                @include breakpoint-max("sm") {

                    &::before,
                    &::after {
                        content: none;
                    }
                }
            }
            .name {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                color: $white;
                margin: 0;

                p {
                    padding: 100px 10px 0 10px;
                    margin-top: 60px;
                    margin-bottom: 0;
                    font-size: 20px;
                    color: $white;
                    font-family: $BMPlexSans-Bold;

                    @include breakpoint-max("sm") {
                        margin-top: 40px;
                    }
                }
            }

            .slide_description {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                color: $white;

                p {
                    text-align: center;
                    font-size: 16px;
                    color: $white;
                    font-family: $BMPlexSans-Regular;
                }

                &::before,
                &::after {
                    content: "";
                    flex-basis: 40%;
                    height: 0;
                }

                @include breakpoint-max("sm") {

                    &::before,
                    &::after {
                        content: none;
                    }
                }
            }

            .slide_button {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                margin: 0;

                a {
                    font-size: 16px;
                    color: $primary;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    font-family: $BMPlexSans-Bold;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .dots {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;

        .dot {
            height: 10px;
            width: 10px;
            margin: 0 5px;
            background-color: #bbb;
            border-radius: 50%;
            cursor: pointer;
        }

        .dot.active {
            background-color: #fff;
        }
    }
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &.prev {
        left: 10%;

        @include breakpoint-max("sm") {
            left: 5%;
        }
    }

    &.next {
        right: 10%;

        @include breakpoint-max("sm") {
            right: 5%;
        }
    }

    i {
        color: $white;
        font-size: 50px;
    }
}