// Font Family
$primaryFont:   'IBMPlexSans-BoldItalic', sans-serif;
$tertiaryFont:  'IBMPlexMono-Bold';


$IBM-Plex-Sans-SemiBold: 'IBMPlexSans-SemiBold', sans-serif;
$IBMPlexSans-Text: 'IBMPlexSans-Text', sans-serif;
$BMPlexSans-Bold: 'BMPlexSans-Bold', sans-serif;
$IBMPlexSans-Medium: 'IBMPlexSans-Medium', sans-serif;
$BMPlexSans-Regular: 'BMPlexSans-Regular', sans-serif;


// Colors
// Additional Colors - https://chir.ag/projects/name-that-color/#7A7A7A
$black: #000000;
$white: #FFFFFF;
$gray: #848484;
$portage-light: #8a94f7;
$primary: #FFD100;
$hover: #9f8203;


// filter
$filter: invert(85%) sepia(42%) saturate(5509%) hue-rotate(7deg) brightness(114%) contrast(103%);
// linear-gradient
$background-mobile: linear-gradient(104.53deg, #edebf9 2.98%, rgba(255, 255, 255, 0.4) 101.73%);

// Media query breakpoints
$breakpoints: (
  "xxs": 351px,
  "xsm": 479px,
  "sm": 576px,
  "msm": 675px,
  "md": 768px,
  "lg": 992px,
  "xll": 1024px,
  "xl": 1200px,
  "xxl": 1400px,
  "xxxl": 1600px,
  "xxxxl": 1900px,
);

// Padding
$containerHorizPad: 3em;
$containerVertPad: 7em;
$containerLgHorizPad: 2em;
$containerLgVertPad: 5em;
$containerMdHorizPad: 1.5em;
$containerMdVertPad: 3em;

// Container Widths
$containerMaxWidth: 1240px;
$containerNarrowMaxWidth: 900px;
$containerNarrowSmallerMaxWidth: 600px;
$containerWideMaxWidth: 1440px;

$headerHeight: 121px;
$headerScrollHeight: 70px;
$headerHeightTablet: 59px;
$headerHeightMobile: 54px;
